rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /surveys/{surveyId}/villages/{villageId} {
      allow read: if true;
      allow write: if false;
    }

    match /surveys/{surveyId}/votes/{normalizedName} {
      allow read: if true;
      allow create: if request.resource.data.name is string
        && request.resource.data.name.size() >= 2
        && request.resource.data.normalizedName is string
        && (
          (request.resource.data.choices is list
            && request.resource.data.choices.size() == 3)
          ||
          (request.resource.data.selections is list
            && request.resource.data.selections.size() == 3)
        );
      allow update, delete: if false;
    }

    match /surveys/{surveyId}/participants/{normalizedName} {
      allow read: if true;
      allow create: if request.resource.data.name is string
        && request.resource.data.normalizedName is string;
      allow update, delete: if false;
    }

    match /meta/setup {
      allow read, write: if true;
    }
  }
}